* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(image1.jpeg);
    background-size: cover;
}
.calculator {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 16px;
    background-color: rgb(43, 186, 219);
    box-shadow: 10px -5px 10px 0px #73D668;
}
input {
    width: 330px;
    padding:24px;
    margin: 10px;
    /* background: rgba(255,255,255,0.3); */
    /* box-shadow: inset 0px 0px 8px rgba(0,0,0,0.4); */
    font-size: 65px;
    text-align: right;
    color: black;
    border: 2px solid black;
}
input::placeholder{
    color: black;
}
button{
    width: 60px;
    height: 60px;
    margin: 10px;
    color: #fff;
    background: rgba(0,0,0,0.7);;
    border: black;
    border-radius: 25%;
    font-size: 24px;
    cursor: pointer;

}
.ac,del {
    font-size: 20px;
}
button:hover {
    color: #fff;
    background-color: #f67c14;
}
.equalBtn {
    background-color: #f67c14;
}
.operator{
    color: #f67c14;
}